.h1 {
    text-align: center;
}
body {
    background-color: #00918f;
    height: 450px;
    
}
.text{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #aaf2ef;
}
.button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    border: none;
    background-color: #006d65;
    border-radius: 15px;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}